
.vs/ForgeAPI_SoundsRegister/v16/Server/sqlite3/storage.ide-wal
.vs/ForgeAPI_SoundsRegister/v16/Server/sqlite3/storage.ide
.vs/ForgeAPI_SoundsRegister/v16/Server/sqlite3/db.lock
.vs/ForgeAPI_SoundsRegister/v16/Server/sqlite3/storage.ide-shm
.vs/ForgeAPI_SoundsRegister/v16/.suo
